language: node_js
node_js:
    - "10"

branches:
  only:
    - master
services:
  - xvfb

addons:
apt:
  sources:
    - google-chrome
  packages:
    - google-chrome-stable
    - google-chrome-beta

before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0

before_script:
  - npm install -g firebase-tools
  - npm install -g @angular/cli

script:
  - npm run test
  - npm run e2e
  - ng build --env=prod
  
deploy:
  provider: firebase
  skip_cleanup: true
  token:
    secure: $FIREBASE_TOKEN

notifications:
  email:
    on_failure: change
    on_success: change
