.container{
    text-align: center;
    font-size: 30px;
    margin-top: 50px;   
}
.title {
    font-size: 40px;
    padding: 40px;
}
.abstract{
    font-size: 25px;
    font-weight: lighter;
    text-align: justify;
    padding: 2% 8%;
    margin-bottom: 100px;
}
.generate-btn{
    display: block;
    margin: 0 auto;
    background: #5097D6;
    border:none;
    color:white;
    font-size: 35px;
    padding: 30px;
    border-radius: 50px;
}

.footer{
    position: fixed;
    width: 100%;
    background-color: rgb(238, 238, 238);
    left: 0px;
    bottom: 0;
    padding: 4px;
    z-index: 99;
    text-align: center; 
    padding: 15px;
}