<div>
<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    Present Me!!
  </h1>
</div>
<!--<input type="button" (click)="generateTalk()" class="generate-btn" value="Generate another Talk"/>-->
<div class="container" (swipeLeft)="swipe()" (swipeRight)="swipe()">
  <div class="title">{{ currentTalk.title }}</div>
  <div class="abstract">{{ currentTalk.abstract }}</div>
</div>

<div class="footer web">
  Press the Spacebar to see it in action ;)
</div>

<div class="footer mobile">
  Swipe the title to see it in action ;)
</div>
</div>